body{
    margin: 2px;
    padding: 2px;
    background-image: url("../images/kays.jpeg");
    background-size: cover;
    background-attachment: fixed;
    width:auto;
    height: 100%;
    font-family: 'Concert One';
    overflow-x: hidden;
}

.navigation-container{
    box-shadow: bisque;
    background-color: gray;
    width: 100%;
    height: 90px;

}
.navigation-content{ 
    justify-content: space-between;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0px 12%;
} 
.menu ul{
    display: flex;
    color: gray;
}
.menu ul li a{
    color: white;
    padding: 0px 30px;
    font-style: italic;
    font-weight: bold;
    
}
.cart img{
    height: 40px;
}
.cart{
    font-weight: bold;
    display: flex;
    align-items: center;
    color: gray;
}
.cart a{
    margin: 0px 8px;
    color: white;
}
.container2{
    background-size: cover;
    background-position: center;
    margin: 2px;
    padding: 2px;
}
.container3{
    background-color:coral;
    padding: 20px;
    text-align: center;
}
.row{
    margin-top: 12px;
    padding: 0px 12px;
}
h4{
    padding: 12px;
    text-align: center;
    background-color: coral;
}
h1{
    text-align: center;
    font-size: 100px;

}
h2{
    text-align: center;
}
.footer{
    background-color: black;
}
div.footer-imgs {
    margin-bottom: 10px;
}
div.footer-imgs img {
    margin: 7px 5px;
}
/* div.footer p {
    font-size: 0.7rem;
} */
.footer-content {
    padding-top: 25px;
}


#pepperoni-p,
#hawaiian-p,
#bbq-p{
    display: none;
}
.p-description{
    width: 320px;
    height: 320px;
    margin: 10px;
    background-image: url("../images/pepperoni.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p-description p{
    color: white;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    text-shadow:5px 5px 10px red;
}
.p-description p:nth-child(1){
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;}
    .p-description p:nth-child(2){
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow:5px 5px 10px red;
    }
.p-description button{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: coral;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
    outline: none;
}
.h-description{
    width: 320px;
    height: 320px;
    margin: 10px;
    background-image: url("../images/hawaiian.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h-description p{
    color: white;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    text-shadow:5px 5px 10px red;
}
.h-description p:nth-child(1){
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;}
    .p-description p:nth-child(2){
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow:5px 5px 10px red;
    }
.h-description button{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: coral;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
    outline: none;
}
.b-description{
    width: 320px;
    height: 320px;
    margin: 10px;
    background-image: url("../images/bbq.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.b-description p{
    color: white;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    text-shadow:5px 5px 10px red;
}
.b-description p:nth-child(1){
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;}
    .p-description p:nth-child(2){
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow:5px 5px 10px red;
    }
.b-description button{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: coral;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
    outline: none;
}
.container1{
    background-image: url("../images/kays.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    padding-top: 25px;
    padding-bottom: 40px;
    background-image: url(../images/cheesier.jpeg);
    background-size: cover;
    background-attachment: fixed;
    width:auto;
    height: 100%;
    font-family: 'Concert One';
    
}
.text-contact {
    color: white;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Concert One';
    word-spacing: 2px;
    text-align: center;
}
.myForm-input {
    font-size: 12px;
    padding: 5px 10px 10px 10px;
    display: block;
    width: 100%;
    background: transparent;
    color: white;
    font-family: 'Concert One';
}
.contact-us {
    background: transparent;
    padding-top: 20px;
}
.contact-us input{
    border: 2px solid white;
    border-radius: 1px;
    width: 25%;
    padding-right: 2%;
    background-color: transparent;
    padding-top: 2px;
    font-family: 'Concert One';
}
.contact-us textarea{
    width: 55%;
    height: 150px;
    padding: 20px 25px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 1px;
    resize: none;
    font-family: 'Concert One';
    background-color: transparent;
}
.contact-email {
    margin-left: 200px;
    font-family: 'Concert One';
}
.container4{
    background-image: url(../images/stuffed.jpeg);
    background-size: contain;
    background-attachment: fixed;
    width:100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 25px;
}

